<!DOCTYPE html>
<html ng-app="ui.bootstrap.demo">

<head>
    <title>Blood Bank Details</title>
    <link rel="stylesheet" href="css/3.3.7_bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/3.1.1_jquery.min.js"></script>
    <script src="js/1.5.8_angular.js"></script>
    <script src="js/1.5.8_angular-animate.js"></script>
    <script src="js/1.5.8_angular-sanitize.js"></script>
    <script src="js/ui-bootstrap-tpls-2.3.1.min.js"></script>
    <script src="js/3.3.7_bootstrap.min.js"></script>
    <script src="js/myfile.js"></script>
    <!-- Plugin files -->
    <script src="js/datetimepicker.js"></script>
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo">
                        <img src="images/dummy.jpg" height="50" width="150">
                    </div>
                    <div class="pull-right">
                        <div class="search_box">
                            <form class="navbar-form" role="search">
                                <div class="input-group add-on">
                                    <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="menu dropdown">
                            <img src="images/grid.png" width="24" class="dropdown-toggle" data-toggle="dropdown">
                                <div class="dashboard_block clear dropdown-menu">
                                <div class="inner_block">
                                    <div class="col-md-4">
                                        <a href="view.html">
                                            <img src="images/icons.png">
                                            <h4>Patient</h4>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="#">
                                            <img src="images/icons.png">
                                            <h4>Lab</h4>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="#">
                                            <img src="images/icons.png">
                                            <h4>Billing</h4>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="#">
                                            <img src="images/icons.png">
                                            <h4>Blood Bank</h4>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="#">
                                            <img src="images/icons.png">
                                            <h4>Ward</h4>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="#">
                                            <img src="images/icons.png">
                                            <h4>Doctor</h4>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="#">
                                            <img src="images/icons.png">
                                            <h4>EMR</h4>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="#">
                                            <img src="images/icons.png">
                                            <h4>Pharmacy</h4>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="#">
                                            <img src="images/icons.png">
                                            <h4>Nurse</h4>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="#">
                                            <img src="images/icons.png">
                                            <h4>HR</h4>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="#">
                                            <img src="images/icons.png">
                                            <h4>House Keeping</h4>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="#">
                                            <img src="images/icons.png">
                                            <h4>Inventory</h4>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="#">
                                            <img src="images/icons.png">
                                            <h4>Front Office</h4>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="#">
                                            <img src="images/icons.png">
                                            <h4>Report</h4>
                                        </a>
                                    </div>
                                    <span class="more">More</span>
                                </div> 
                                </div>
                        </div>
                        <div class="notification">
                            <img src="images/notification.png">
                        </div>
                        <div class="email">
                            <img src="images/email.png">
                        </div>
                        <div class="profile">
                            <img src="images/user.jpg">
                            <div class="dropdown">
                                <b href="#" data-toggle="dropdown">Harshith Doe
                              <span class="caret"></span></b>
                                <ul class="dropdown-menu">
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">JavaScript</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="sidebar_menu">
        <div class="left_menu">
            <li><a href="#">Patient</a>
                <ul>
                    <li><a href="#">Patient Registration</a></li>
                    <li><a href="#">Appointment Schedule</a></li>
                    <li><a href="#">Patient Listing</a></li>
                </ul>
            </li>
            <li><a href="#">Inpatient</a>
                <ul>
                    <li><a href="#">Patient Registration</a></li>
                    <li><a href="#">Appointment Schedule</a></li>
                    <li><a href="#">Patient Listing</a></li>
                </ul>
            </li>
            <li><a href="#">Patient</a>
                <ul>
                    <li><a href="#">Patient Registration</a></li>
                    <li><a href="#">Appointment Schedule</a></li>
                    <li><a href="#">Patient Listing</a></li>
                </ul>
            </li>
            <li><a href="#">Inpatient</a>
                <ul>
                    <li><a href="#">Patient Registration</a></li>
                    <li><a href="#">Appointment Schedule</a></li>
                    <li><a href="#">Patient Listing</a></li>
                </ul>
            </li>
        </div>
    </div>
    
    <div class="clear">
        <div class="right_block">
            <h1 class="heading"><span>Blood Bank Details</span>
                <div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
                    <script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3 class="modal-title" id="modal-title">New Entry</h3>
                        </div>
                        <div class="modal-body" id="modal-body">
                            <form class="centered_form">
                                <div class="row">
                                    <div class="form-group col-md-5">
                                        <label>BloodBag Number:</label>
                                        <input type="text" name="" class="form-control" placeholder="BloodBag Number">
                                    </div>
                                    <div class="form-group col-md-5 col-md-offset-1">
                                        <label>Blood Group:</label>
                                        <input type="text" name="" class="form-control" placeholder="Blood Group">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-5">
                                        <label>Blood Unit:</label>
                                        <input type="text" name="" class="form-control" placeholder="Blood Unit">
                                    </div>
                                    <div class="form-group col-md-5 col-md-offset-1">
                                        <label>Blood Quantity:</label>
                                        <input type="text" name="" class="form-control" placeholder="Blood Quantity">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
                            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                        </div>
                    </script>
                    <button type="button" class="btn btn-default" ng-click="$ctrl.open('lg')">+ New</button>
                </div>
            </h1>
            

            <table class="table centered_form table-bordered table-responsive">
                <thead>
                  <tr>
                    <th width="150">BloodBag Number</th>
                    <th>Blood Group</th>
                    <th>Blood Unit</th>
                    <th>Blood Quantity</th>
                    <th width="20">Options</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>2344</td>
                    <td>AAAA</td>
                    <td>1</td>
                    <td class="dropdown"><span data-toggle="dropdown">Action</span>
                      <ul class="dropdown-menu">
                        <li><a href="#">View</a></li>
                        <li><a href="#">Edit</a></li>
                        <li><a href="#">Delete</a></li>
                      </ul>
                    </td>
                   </tr>
                  
                </tbody>
              </table>

            
        </div>
    </div>
    <footer>
        <div class="container-fluid text-center">
            <p>2016 Copy rights</p>
        </div>
    </footer>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.dropdown-menu').click(function(e) {
            e.stopPropagation();
        });
    });
    </script>
</body>

</html>
